* {
    margin: 0;
    padding: 0;
    /* overflow-y:auto; */
}

.navbar {
    /* background-color: red;; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* width: 1528px;
    height: 61px; */
    overflow-x: hidden;
}

.left {
    /* background-color:green; */
}
.left > image {
    height: 53px;
    width: 215px;
}
#home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc8a06;
    border-radius: 20px;
    color: white;
    height: 45px;
    width: 127px;
}

.middle {
    display: flex;
    align-items: center;
    /* background-color: red; */
    list-style-type: none;
    gap: 50px;
    display: flex;
}

.right {
    /* background-color: black; */

    /* border-radius: 30%; */
    color: white;
    display: flex;

    justify-content: center;
    align-items: center;
}
.right-both {
    background-color: black;
    color: white;
    border-radius: 30%;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 20px;
    align-items: center;
    height: 61px;
    width: 234px;
}

.right > img {
    height: 27px;
    width: 31px;
}
